{% extends "index.html" %} {% block content %}

<div class="container mt-4">

  <style>

    .centered{
      text-align: center;
      display: block;
      margin: 0 auto;
      font-weight: bolder;
    }
    .centered h2{
    font-weight: bold;
    }
    .texto {
      font-weight: unset;
    }
    

  </style>

<div class="centered">
  <h2>Ayuda</h2>
</br>
</br>
</br>
</div>
<div class="texto">
  <p><b>Nombre:</b> Gonzalo Fernando Pérez Cazún</p>
  <p><b>Carnet:</b> 202211515</p>
  <p><b>Curso:</b> Laboratorio Introduccion a la Programacion y Computación</p>
  <p><b>Sección:</b> A</p>
</div>







{% endblock content %}
