{% extends "index.html" %} {% block content %} {% load static %}

<div class="container mt-4">

  <style>

    .centered{
      text-align: center;
      display: block;
      margin: 0 auto;
      font-weight: bolder;
    }
    .centered h2{
    font-weight: bold;
    }
    .texto {
      font-weight: unset;
    }
    .manual{
      text-align: center;
      display: block;
      margin: 0 auto;
      font-weight: bolder;
    }

  </style>

<div class="centered">
  <h2>Ayuda</h2>
</br>
</br>
</br>
</div>
<div class="texto">
  <p><b>Nombre:</b> Gonzalo Fernando Pérez Cazún</p>
  <p><b>Carnet:</b> 202211515</p>
  <p><b>Curso:</b> Laboratorio Introduccion a la Programacion y Computación</p>
  <p><b>Sección:</b> A</p>
  <a href="https://drive.google.com/file/d/1xob5LobBmd6FqDfjemnw3F22EFcypxN9/view?usp=sharing"><b>Documentación</b></a>  
</br>
</div>
<!-- <div class="manual">
  
  <iframe src="https://drive.google.com/file/d/1Y_" width="75%" height="500"></iframe>
</div> -->

<body>
  <iframe src="https://drive.google.com/file/d/1xob5LobBmd6FqDfjemnw3F22EFcypxN9/view?usp=sharing" width="100%" height="500"></iframe>
</body>






{% endblock content %}
