{% extends "index.html" %} {% block content %}

<div class="container mt-4">
  <h2>Tabla de Sentimientos en Mensajes</h2>

  <!-- Formulario de búsqueda -->
  <div class="mb-3">
    <form action="" method="get">
      <div class="input-group">
        <input
          type="date"
          class="form-control"
          placeholder="Buscar por Fecha Inicio..."
          name="inputSearch"
        />
        <input
          type="date"
          class="form-control"
          placeholder="Buscar por Fecha Fin..."
          name="inputSearch2"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">
            {% if query %} Buscar {% else %} Buscar {% endif %}
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- Tabla -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Mensajes con sentimiento positivo</th>
        <th>Mensajes con sentimiento negativo</th>
        <th>Mensajes neutros</th>
      </tr>
    </thead>
    <tbody>
      {% for feelings in feelings %}
      <tr>
        <td>{{ feelings.fecha }}</td>
        <td>{{ feelings.sentimiento_positivo }}</td>
        <td>{{ feelings.sentimiento_negativo }}</td>
        <td>{{ feelings.sentimiento_neutro }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
